.custom-checkbox-root .MuiSvgIcon-root{
    width: 20px;
    height: 20px;
  }

  .aside{
    box-shadow: 4px 1px 7px -3px rgba(97,87,87,0.78);
-webkit-box-shadow: 4px 1px 7px -3px rgba(97,87,87,0.78);
-moz-box-shadow: 4px 1px 7px -3px rgba(97,87,87,0.78);
  }
  .css-1w78ofh-MuiFormControlLabel-root .MuiFormControlLabel-label{
    font-size: 14px;
}
.btn-toggle{
  opacity: 0.5;
  transition: all ease-in-out 0.3s;
}
.btn-toggle:hover{
  opacity: 1;
  transition: all ease-in-out 0.3s;
}